body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
* {box-sizing: border-box}

.bg {
    /* Используемое изображение */
    background-image: url("../img/r2_cr.jpg");
    /* Полная высота */
    height: 100%;
    /* Центр и масштаб изображения */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Стиль для всех кнопок */
button {
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: #60818a;
    margin: 2px 0;
}
button:hover {
    opacity: 0.7;
}

/* Шапка */
.topnav {
    overflow: hidden;
    background-color: #355a63;
    width: 100%;
}
.topnav span {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 18px;
}
.topnav button {
    width: auto;
    height: 36px;
    padding: 5px 5px;
    float: right;
    font-size: 18px;
    background-color: #355a63;
    width: 15%;

}
.topnav:after {
    content: "";
    clear: both;
    display: table;
}
.topnav button:hover {
    background-color: #60818a;
}


#navbar {
    overflow: hidden;
}
#navbar form {
    float: left;
    display: block;
    font-size: 17px;
    width: 18%;
    margin-bottom: 0;
}
#navbar button {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


.btn-group {
    width:100%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 0 0 0 0;
}
.btn-group button {
    max-height: 60px;
    /*margin: 0 0 10px 0;*/
    background-color: #8cbeca;
    border: 1px solid #75a1ad;
    color: white; /* Белый текст */
    padding: 10px 15px; /* Немного отступа */
    cursor: pointer; /* Указатель/значок руки */
    float: left; /* Плавают кнопки бок о бок */
    font-size: 32px;
    width: 6%;
}
/* Очистить поплавки (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
.btn-group button:not(:last-child) {
    border-right: none; /* Предотвращение двойных границ */
}
/* Добавление цвета фона при наведении курсора */
.btn-group button:hover {
    background-color: #7c9fb5;
}



/* Меню входа */
.singup {
    background: rgba(243, 221, 160, 0.6);
    width: 40%;
    margin: 90px auto 0 auto;
    text-align: center;
    border: 10px solid lightgray;
    font-size: 20px;
}
/* Поля ввода полной ширины */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Центрируйте изображение и установите кнопку Закрыть */
.imgcontainer {
    text-align: center;
    margin: 12px 0 12px 0;
    position: relative;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}
.container {
    padding: 10px;
}

/* Дополнительные стили для кнопки Отмена */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background: rgba(162, 0, 0, 0.71)
}

/* Модальный (фон) */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgb(0, 0, 0); /* Цвет запасной вариант  */
    background-color: rgba(0, 0, 0, 0.4); /*Черный с непрозрачностью */
    padding-top: 60px;
}

/* Модальное содержание/бокс */
.modal-content {
    background-color: #96BED5;
    margin: 5% auto 15% auto; /* 5% сверху, 15% снизу и по центру */
    border: 1px solid #888;
    /*height: 30%;*/
    width: 35%; /* Может быть больше или меньше, в зависимости от размера экрана */
}
/* Добавить анимацию масштабирования */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
